---
import TalentIntroSection from "./TalentIntroSection.astro";

export interface Props {
  currentLang?: string;
}

const { currentLang = "es-ES" } = Astro.props;

// Traduccions per a cada idioma
const translations = {
  "es-ES": {
    title: "Encuentra a tu\npróxima estrella",
    subtitle: "Ojea, chatea, y publica ofertas deportivas.",
    text: "Si eres un club, un representante o una empresa de scouting, tienes la oportunidad de <b>buscar, filtrar y encontrar</b> tu próximo jugador o el profesional que necesitas.",
    action: "¡Únete a <b>SPORTSMATCH</b> y haz match con tu próxima estrella!",
  },
  "ca-ES": {
    title: "Troba la teva\npròxima estrella",
    subtitle: "Mira, xateja i publica ofertes esportives.",
    text: "Si ets un club, un representant o una empresa de scouting, tens l'oportunitat de <b>buscar, filtrar i trobar</b> el teu proper jugador o el professional que necessites.",
    action:
      "Uneix-te a <b>SPORTSMATCH</b> y fes match amb la teva pròxima estrella!",
  },
  en: {
    title: "Find your\nnext star",
    subtitle: "Browse, chat and post sports offers.",
    text: "If you are a club, a representative or a scouting company, you have the opportunity to <b>search, filter and find</b> your next player or the professional you need.",
    action: "Join <b>SPORTSMATCH</b> and make a Match with your next star!",
  },
};

const t =
  translations[currentLang as keyof typeof translations] ||
  translations["es-ES"];
---

<div
  id="star"
  class="relative w-full flex flex-col justify-center px-0 sm:px-0 lg:px-0"
>
  <TalentIntroSection
    title={t.title}
    subtitle={t.subtitle}
    text={t.text}
    action={t.action}
    images={["/assets/futbol.png", "/assets/basket.png", "/assets/hockey.png"]}
    alt={["Fútbol", "Baloncesto", "Hockey"]}
    imagePosition="left"
    background="black"
    textColor="white"
  />
</div>
