---
import DeportesSelector from "./DeportesSelector.astro";

export interface Props {
  currentLang?: string;
}

const { currentLang = "es-ES" } = Astro.props;
---

<div class="w-screen bg-[#0e1628] flex items-center justify-center">
  <DeportesSelector currentLang={currentLang} />
</div>
