---
import TalentIntroSection from "./TalentIntroSection.astro";

export interface Props {
  currentLang?: string;
}

const { currentLang = "es-ES" } = Astro.props;

// Traduccions per a cada idioma
const translations = {
  "es-ES": {
    title: "Tu sueño,\na tu alcance",
    subtitle:
      "¿Crees que tienes potencial y sueñas con dar el salto al siguiente nivel?",
    text: "Crea tu perfil y comienza a mostrar tu talento subiendo videos y fotos de tus habilidades. <br/><br/> Navega por las ofertas de clubes, inscríbete en ellas y haz Match con tu próximo club!",
    action: "¡Únete a <b>SPORTSMATCH</b> y cambia tu futuro!",
  },
  "ca-ES": {
    title: "El teu somni,\na l'abast",
    subtitle:
      "Creus que tens potencial i somies amb donar el salt al següent nivell?",
    text: "Crea el teu perfil i comença a mostrar el teu talent pujant vídeos i fotos de les teves habilitats. <br/><br/> Navega per les ofertes de clubs, inscriu-te en elles i fes Match amb el teu proper club!",
    action: "Uneix-te a <b>SPORTSMATCH</b> y canvia el teu futur!",
  },
  en: {
    title: "Your dream,\nwithin reach",
    subtitle:
      "Do you think you have potential and dream of making the jump to the next level?",
    text: "Create your profile and start showing your talent by uploading videos and photos of your skills. <br/><br/> Browse club offers, sign up for them and Match with your next club!",
    action: "Join <b>SPORTSMATCH</b> and change your future!",
  },
};

const t =
  translations[currentLang as keyof typeof translations] ||
  translations["es-ES"];
---

<div
  id="dream"
  class="relative w-full flex flex-col justify-center px-0 sm:px-0 lg:px-0"
>
  <TalentIntroSection
    title={t.title}
    subtitle={t.subtitle}
    text={t.text}
    action={t.action}
    images={[
      "/assets/futsal.png",
      "/assets/voleibol.png",
      "/assets/balonmano.png",
    ]}
    alt={["Futsal", "Voleibol", "Balonmano"]}
    imagePosition="right"
    background="white"
    textColor="black"
  />
</div>
